.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #0a5153;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.LuckyNum .label h2{
  display: inline-block;
  margin-right: 10px;
  color: rgb(242, 247, 243);
  font-weight: 400;
}
.LuckyNum .label input{
  width: 10%;
  color: orange;
  background-color: rgb(226, 148, 30);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 8px;
  display: inline-block;
  margin: 0 auto;
  margin-right: 10px;
}
.LuckyNum .label button{
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
  background-color: rgb(66, 151, 66);
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.LuckyNum .heading{
  color: rgb(242, 242, 250);
  font-size: 1.5rem;
  text-shadow: 2px 1px black;
}
.LuckyNum input{
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  padding: 8px;
  display: inline-block;
  margin: 0 auto;
  margin-right: 10px;
}
.LuckyNum input:focus{
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.label button{
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
  /* background-color: rgb(66, 151, 66); */
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.LuckyNum .chances{
  color: rgb(201, 36, 63);
  font-size: 1.3rem;
}
.LuckyNum .msg{
  text-shadow: 1px 1px white;
}
.restart{
  background-color: rgb(51, 51, 185);
  border-radius: 50%;
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
  color: white;
  padding: 10px;
}
.restart:hover{
  background-color: rgb(19, 19, 155);;
}
.guess{
  background-color: rgb(235, 168, 44);
  border-radius: 20px;
  display: inline-block;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px auto;
  color: white;
  padding: 10px;
}
.guess:hover{
  background-color: orange;
}